body {
    margin: 0;
}

.canvasContainer {
    width: 100vw;
    height: 100vh;
}

.redTitle{
    color: red;
    font-family: Impact, sans-serif;
    font-size: 5rem;
}

.greenTitle{
    color: lawngreen;
    font-family: Impact, sans-serif;
    font-size: 5rem;
}

.blackScreen{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}